.header{
	margin-bottom: -30px;
}

.content{
	width: 1024px;
	height: 780px;
	margin: 0 auto;
}

p.president-title{
	font-size: 18pt;
	color: #6ba5c2;
	line-height: 30px;
	margin: 0;
}

p.president-name{
	font-size: 26pt;
	color: #6ba5c2;
	line-height: 30px;
	margin: 0;
}

h1.bank-details-title{
	color: #6ba5c2;
	font-size: 15pt;
	font-weight: normal;
}

.bank-details{
	margin-top: 15px;
	padding: 6px;
	background: url(../images/details-border.png) 0 0 no-repeat;
	width: 300px;
	color: #869da5;
	font-weight: normal;
}

.details  td{
	min-width: 90px;
}

.president{
	margin-top: 60px;
	padding: 15px 0 15px 0;
	background: url(../images/border.png) no-repeat;
	height: 95px;
}

.text {
	color: #869ba6;
	font-size: 11pt;
	line-height: 20px;
}

.photo-container{
	float: left;
	margin-left: 5px;

}

.photo-container > img{
	float: left
}

.text-container{
	text-align: left;
	margin-left: 30px;
	float: right;
	width: 653px;
}

.title-h1{
	color: #ffffff;
	font-size: 28pt;
	text-align: right;
	float: left;
	font-weight: normal;
}

