.body {
	width: 1000px;
	margin: 40px auto 0;
	position: relative;
}

.params {
	width: 190px;
	padding: 15px;
	background-color: #fff;
	text-align: center;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.params > * {
	border-bottom: 1px solid #dedede;
	padding-bottom: 15px;
	margin-top: 15px;
}

.params > .find_button {
	border-bottom: 0;
	text-transform: uppercase;
	background-image: url('../images/button-find.png');
	text-align: center;
	color: white;
	width: 190px;
	height: 34px;
	font-weight: bold;
	font-size: 15px;
	font-family: Arial;
	line-height: 34px;
	margin-top: 13px;
	padding-bottom: 0;
}

.params > h4 {
	color: #687d87;
	margin: 0;
	padding-top: 10px
}

.params > ul.shapes {
	margin: 0;
	padding: 15px 0 0 0;
	list-style: none;
	text-align: center;
}

.params > ul.shapes > li {
	display: inline-block;
	zoom: 1;
	*display: inline;
	margin-right: 10px;
	margin-bottom: 20px;
	width: 50px;
	height: 50px;
}

.params > ul.shapes > li.endline {
	margin-right: 0;
}

.params > .dropdowns_wrapper {
	text-align: left;
}

.params > .dropdowns_wrapper p {
	padding: 0;
	margin: 0;
}

.params > .dropdowns_wrapper > .dropdown {
	display: inline-block;
	zoom: 1;
	*display: inline;
	width: 48%;
}

ul.products
{
	margin: 0 0 0 250px;
	padding: 0;
	list-style: none;
	text-align: center;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

ul.products > li.product
{
	background-image: url('../images/main_page_4_select_background.png');
	background-repeat: no-repeat;
	display: inline-block;
	zoom: 1;
	*display: inline;
	width: 231px;
	height: 310px;
	margin-right: 20px;
	vertical-align: top;
	margin-bottom: 20px;
}

ul.products > li.product.endline
{
	margin-right: 0;
}

ul.products > li.product > h5
{
	margin: 5px 25px;
	text-align: center;
	color: #133d60;
	font-weight: bold;
	min-height: 32px;
}

ul.products > li.product > .image
{
	width: 230px;
	height: 140px;
	text-align: center;
}

ul.products > li.product > table
{
	margin: 0 auto;
	font-size: 12px;
}

ul.products > li.product > table th
{
	text-align: right;
	color: #ffffff;
	font-weight: normal;
	padding: 0;
}

ul.products > li.product > table td
{
	text-align: left;
	color: #0b6fbc;
}

ul.products > li.product .cost
{
	margin: 0px 20px 7px;
	padding: 3px 0;
	border-top: 1px solid #153c61;
	border-bottom: 1px solid #153c61;
	font-size: 14px;
	font-family: tahoma;
	color: #0b6fbc;
	text-align: center;
}

ul.products > li.product .cost .number
{
	font-size: 18px;
}

ul.products > li.product > .certificate
{
	color: #ffffff;
	font-size: 16px;
	font-family: tahoma;
	text-decoration: none;
	text-align: center;
	background-image: url('../images/main_page_button_certificate.png');
	background-repeat: no-repeat;
	padding-top: 2px;
	width: 119px;
	height: 24px;
	display: block;
	margin: 0 auto 9px;
}

.paginator_wrapper {
	display: block;
	margin: 0 auto;
	width: auto;
}

ul.paginator {
	list-style: none;
}

ul.paginator > li {
	display: inline-block;
	zoom: 1;
	*display: inline;
	font-size: 11px;
	font-family: tahoma;
	padding: 4px 8px;
	border-radius: 7px;
	background-color: #546e7a;
	color: white;
	margin-right: 7px;
}

ul.paginator > li.last {
	margin-right: 0;
}

.s-hidden {
	padding-right:10px;
}

.select {
	cursor:pointer;
	display:inline-block;
	position:relative;
	font:normal 11px/22px Arial,Sans-Serif;
	color:black;
	border:1px solid #ccc;
}

.styledSelect {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:white;
	padding:0 10px;
	font-weight:bold;
}

.styledSelect:after {
	content:"";
	width:0;
	height:0;
	border:5px solid transparent;
	border-color:black transparent transparent transparent;
	position:absolute;
	top:9px;
	right:6px;
}

.styledSelect:active,
.styledSelect.active {
	background-color:#eee;
}

.options {
	display:none;
	position:absolute;
	top:100%;
	right:0;
	left:0;
	z-index:999;
	margin:0 0;
	padding:0 0;
	list-style:none;
	border:1px solid #ccc;
	background-color:white;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
	box-shadow:0 1px 2px rgba(0,0,0,0.2);
}

.options li {
	padding:0 6px;
	margin:0 0;
	padding:0 10px;
}

.options li:hover {
	background-color:#39f;
	color:white;
}
