.flare {
	background-color : #00101b;
	background-image: url('../images/main_page_fon.jpg');
	background-repeat: no-repeat;
	background-position: center -380px;
	font-family: Arial;
	color: #ffffff;
	min-width: 1024px;	
}

.content4 > .left{
	float: left;
}

.content4 > .right{
	float: right;
	text-align: left;
	width: 550px;
}
/*
div.content  input{
	background: url(../images/input_background_long.png) 0 0px no-repeat;
	border-width: 3px;
	border-color: transparent;
	border-style: solid;
	width: 326px;
	height: 28px;
	padding: 3px 15px 3px 7px;
	font-size: 11pt;
	color: #869ba7;
	margin: 10px 0 10px 0;
}

.content  input:focus{
	outline: none;
	background: url(../images/input_background_long.png) 0px -40px no-repeat;
}
*/
.content4 > .title{
	font-size: 30pt;
	color: #ffffff;
}

.content4 label{
	font-size: 9pt;
	color: #869ba7;
}

.content4 sup{
	color: #a88a0c
}

.content4 .submit{
	display: inline;
	background: url(../images/kontact-data-submit.png) -1px -1px no-repeat;
	border-width: 0;
	width: 123px;
	height: 34px;
	font-weight: bold;
	font-size: 12pt;
	color: #ffffff;
	cursor: pointer;
	margin-top: 15px;
	line-height: 30px;
}

.content4 .submit:hover{
	background: url(../images/kontact-data-submit-hover.png) -1px -1px no-repeat;
	cursor: pointer;
}

.content4 .submit:active{
	background: url(../images/kontact-data-submit-active.png) -1px -1px no-repeat;
	cursor: pointer;
	cursor: hand;
	cursor: pointer;
}


.content4 .hint{
	display: inline;
	margin-right: 10px;
	font-size: 9pt;
	color: #99afb5;
	width: 200px;
}


.content4{
	min-height: 300px;
}
