body{
	background-color: #00101a
}

html,body{
	min-height:100%;
	margin: 0;
}

.flare{
	position: absolute;
	width: 100%;	
	min-height: 100%;
	margin: 0 auto;
	margin-bottom: -217px;	
}

.flare:after{
	content: "";
	display: block;
	height: 217px;
} 
.footer{
	background: url(../images/footer-blick.png) 0 0 repeat-x;
	height: 217px;
	bottom: 0;
	width: 100%;
	min-width: 1024px;
	position: absolute;
	bottom: 0;
}



.footer-content{
	width: 1074px;
	margin: 0 auto;
	height: 100%;	
	text-align:center;
}
.footer-content p{
	display: inline;	
}

.footer-center > p.copyright{
	font-family: arial;
	font-size: 11pt;
	color: #162c3a;
}
.footer-center{
	text-align: center;
	display:inline-block;
	margin-top: 180px;
}
.footer-left{
	float: left;
	margin-top: 145px;
	text-align: left;
}
.footer-left > p {
	margin: 0 0 10px 0;
	font-family: arial;
	margin-top: 145px;
}

.footer-left > p.title-phone {
	font-size: 9pt;
	color: #d4f0fd;	
}


.footer-left > p.phone {
	font-size: 11pt;
	color: #d4f0fd;
}

.footer-left > p.phone-prefix {
	font-size: 11pt;
	color: #0084cb;
}

.footer-right {
	float: right;
	margin-top: 160px;
}
