 input.large{
	background: url(../images/input_background_long.png) 0 0 no-repeat;
	border-width: 3px;
	border-color: transparent;
	border-style: solid;
	width: 326px;
	height: 30px;
	padding: 3px 15px 3px 7px;
	color: #ffffff;
	margin: 10px 0 10px 0;
}

 input.large:focus{
	outline: none;
	background: url(../images/input_background_long.png) 0 -40px no-repeat;
}

input.middle{
	background: url(../images/input_middle.png) 0 0 no-repeat;
	border-width: 3px;
	border-color: transparent;
	border-style: solid;
	width: 223px;
	height: 30px;
	padding: 3px 15px 3px 7px;
	color: #ffffff;
	margin: 10px 0 10px 0;
}

input.middle:focus{
	outline: none;
	background:url(../images/input_middle.png) 0 -41px no-repeat;
}

input.small{
	background: url(../images/input_small.png) 0 0 no-repeat;
	border-width: 3px;
	border-color: transparent;
	border-style: solid;
	width: 82px;
	height: 30px;
	padding: 3px 15px 3px 7px;
	color: #ffffff;
	margin: 10px 0 10px 0;
}

input.small:focus{
	outline: none;
	background: url(../images/input_small.png) 0 -41px no-repeat;
}



textarea.textarea{
	background: url(../images/additional_information_textarea.png) 0 -1px no-repeat;
	border-width: 0;
	width: 329px;
	height: 92px;
	font-size: 13pt;
	color: #ffffff;
	padding: 5px 0 3px 4px;
	margin: 10px 0 10px 0;	
	resize: none;
	font-weight: normal;
	font-family: "Arial";
	border-width: 3px;
	box-shadow: none;
	border-color: transparent;
	border-style: solid;
	overflow: hidden; 
	word-wrap: break-word; 
	white-space: pre-wrap;
	white-space: -moz-pre-wrap !important;
	white-space: -o-pre-wrap;
	white-space: -pre-wrap;
}

textarea.textarea:focus{
	outline: none;
	background: url(../images/additional_information_textarea.png) 0 -107px no-repeat;
}

.feedback_form textarea.textarea-large{
	background: url(../images/textarea_large.png) 0 0 no-repeat;
	border-width: 3px;
	border-color: transparent;
	border-style: solid;
	padding: 3px 15px 3px 7px;
	color: #ffffff;
	margin: 10px 0 10px 0;
	resize: none;
	overflow: hidden;
}

.feedback_form textarea.textarea-large:focus{
	outline: none;
	background: url(../images/textarea_large.png) 0 -181px no-repeat;
}
