body
{
	background-color : #00101b;
	font-family: Arial;
	font-weight: normal;
}

.header .info
{
	height: 70px;
}

.header
{
	background-image: url('../images/logo.png');	
	color: #fff;
	width: 1024px;
	height: 195px;
	margin: 0 auto;	
}

.header .contacts
{
	float: left;
	margin-top: 25px;
	width: 200px;
}

.header .basket
{
	background: url('../images/basket.png') no-repeat center left;
	float: right;
	padding-left: 35px;
	margin-top: 25px;
	font-size: 0.8em;
}

.header .basket a
{
	color: #c9e6f9;
}

.photo_button a
{
	color: #c9e6f9;
}


.header .language
{
	width: 200px;
	margin: 0 auto;
	text-align: center;
}

.header .language  ul
{
	list-style: none;
	margin: 0;
	padding: 10px 0 0;
	text-align: center;
}

.header .language  li.current
{
	opacity: 1;
}

.header .language  li
{
	padding: 0;
	height: 17px;
	width: 24px;
	display: inline;
	opacity: 0.4;
}
.header .language  li:hover
{
	opacity: 1;
}

.header .menu
{
	
	width: 1024px;
	height: 238px;
	margin: 0 auto;
}

.header .menu ul
{	
	height: 60px;
	list-style: none;
	margin: 20px 10px 0;
	padding: 0;
	text-align: center;
	display: inline-block;
}

.header .menu li
{	
	display: inline-block;
	height: 2.6em;
	overflow: hidden;
	width: 90px;
}

.header .menu li.middle
{
	width: 111px;
}

.header .menu li.long
{
	width: 148px;
}

.header .menu li a
{
	color: white;
	text-decoration: none;
	display: inline-block;
	font-size: 0.75em;
	height: 34px;
	padding: 0.82em 0.15em; 
	margin: 0.7em 0;
	min-width: 7.4em;	
}
.header .menu li.middle a,
.header .menu li.long a
{
	padding: 0.82em; 
}

.header .menu li a:hover,
.header .menu li.current a
{
	color: #ddd;
	text-decoration: none;
	background-image: url('../images/menu_select.png');
	background-repeat: no-repeat;
}

.header .menu li.middle a:hover,
.header .menu li.middle.current a
{
	color: #ddd;
	text-decoration: none;
	background-image: url('../images/menu_select_middle.png');
	background-repeat: no-repeat;
}


.header .menu li.long a:hover,
.header .menu li.long.current a
{
	background-image: url('../images/menu_select_long.png');
}

.header .menu ul.menu_left
{
	float: left;
}

.header .menu ul.menu_right
{
	float: right;
}

.container
{
	width: 980px;
	margin: 0 auto;
}

@media(min-width: 1601px) {
	body * {
		
	}
}

