
.form
{
	font-family: Arial;
	font-size: 14px;	
	width: 980px;
}

.form fieldset
{
	border: none;
}

.form h1
{
	font-size: 28px;
	padding-bottom: 20px;
	border-bottom: 1px solid #1a3442;
}

.form label
{
	display: block;
	margin: 3px 0;
	color: #869ca5;
}

.form input[type='text'],
.form textarea
{
	width: 338px;
	height: 27px;
	display: block;
	
	color: #ffffff;
	
	padding: 10px 10px 2px;

	background-image: url('../images/input_background_long.png');
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;	
	-ie-box-shadow: none;
	box-shadow: none;
}

.form input[type='text']:focus,
.form textarea:focus
{
	border-color: #ffffff;
	outline:none;
}

.form textarea
{
	width: 609px;
	height: 176px;
	display: block;
	padding: 10px 10px 2px;
	background-image: url('../images/textarea_background.png');
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;	
	box-shadow: none;
}

.form .bottom
{
	text-align: right;
	margin-top: 40px;
	margin-bottom: 80px;
}

.form .text_ruqired
{	
	display: inline-block;
	margin-top: 15px;
	margin-right: 20px;
	color: #869ca5;
}

.form .confirm_button
{
	color: #ffffff;
	font-size: 16px;
	font-family: tahoma;
	text-decoration: none;
	text-align: center;
	background: url('../images/button_background.png');
	background-repeat: no-repeat;
	border: none;
	padding-top: 0px;
	width: 176px;
	height: 32px;
	display: inline-block;
	float: right;
	margin-top: 10px;
	cursor: pointer;
}

