.representation
{
	float: left;
}

.form  .left_column
{
	float: left;
	width: 350px;
}
.form .right_column
{
	float: right;
	width: 620px;
}

.form  .bottom
{
	width: 980px;
}

.form  .bottom .text_ruqired
{
	float: left;
	margin-left: 540px;
}

/*
form.feedback_form input.large {
	padding-top: 5px;
	padding-left: 7px;	
	height: 27px;
	padding-right: 0;
	line-height: 19px;
	width: 327px;
}

form.feedback_form   .textarea-wrap{
	background-image: url(../images/textarea_large.png); 
	background-position-x: 0;
	background-position-y: 0;
	background-repeat: no-repeat;
	width: 630px;
	height: 176px;
	margin-top: 10px;
}
