.flare{
    padding-bottom: 100px;
}
.footer > .footer-content > .footer-center{
    margin-top: 110px;
    margin-bottom: 0px;
    height: 90px;
    overflow: hidden
}

.text-container{
    margin-top: 24px;
}

.footer > .footer-content > .footer-center > p{
    margin-bottom: 0px;
    line-height: 150px;
}


div.bank-details td{
    padding-right: 20px;
}

.shapes a {
    display: block;
}

div.select {
    width: 80px;
}

.middle_params
{
    z-index: 1;
}

.slider_wrapper .inline
{
    margin-top: 15px;
}
.slider_wrapper .inline *
{
    display: block;
    float: left;
}

.params
{
    width: 200px;
}

.params > .middle_params
{
    position: relative;
}

.slider_wrapper .all_price p,
.slider_wrapper .inline p
{
    height: 20px;
    padding-top: 5px;
}

.slider_wrapper
{
    height: 60px;
}

.params > .slider_wrapper INPUT[type='text']
{
    width: 46px;
}

.dropdown .options
{
    z-index: 100;
}

.dropdown + .dropdown .options
{
    z-index: 99;
}

.dropdown  +.dropdown + .dropdown .options
{
    z-index: 98;
}

.dropdown  + .dropdown  +.dropdown + .dropdown .options
{
    z-index: 97;
}

.paginator_wrapper{
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: normal;
}

div.details2
{
    border: none;
    padding: 0px;
}

div.total
{
    padding: 20px;
}

table.details2
{
    border-collapse: collapse;
    text-align: center;
    font-family: Tahoma;
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
    margin-left: 0px;

}

table.details2 .total
{
    text-align: right;
}

table.details2 td
{
    padding: 10px;
}



table.details2 .image_example
{
    background-image: url('../images/light_fon.png');
    background-repeat: no-repeat;
    height: 179px;
    width: 229px;
    margin-right: 30px;
    zoom: 0.4;
}

table.details2 .image_example img
{
    padding: 30px 0 0 10px;
}

.details2 thead tr th
{
    border-bottom: 1px solid #13385d;
    font-weight: normal;
    padding: 10px 0;
}

.details2 .description
{
    text-align: left;
}

.details2 .total,
.details2 .cost
{
    width: 240px;
}

.client_info caption
{
    font-size: 20px;
    text-align: left;
    padding: 20px 0;
}

.client_info th
{
    text-align: right;
    font-weight: normal;
    padding-right: 20px;
}

.details2 .bottom_border
{
    background-image: url('../images/details_bottom_border.png');
    background-repeat: no-repeat;
    height: 30px;
    margin: 0 -20px -20px 0px;
}

.details2 .top_border
{
    background-image: url('../images/details_top_border.png');
    background-repeat: no-repeat;
    height: 30px;
    margin: 0px -20px -20px 0;
}

.table_border
{
    width: 939px;
    border-left: 1px solid #0c71c0;
    border-right: 1px solid #0c71c0;
    padding: 0 20px;
}


.basket_confirm_button
{
    color: #ffffff;
    font-size: 16px;
    font-family: tahoma;
    text-decoration: none;
    text-align: center;
    background-image: url('../images/button_background.png');
    background-repeat: no-repeat;
    padding-top: 6px;
    width: 176px;
    height: 32px;
    display: inline-block;
    float: right;
    margin-top: 10px;
}

.content4 .hint{
    line-height: 20px;
    margin-top: 15px;
    display: block;
    float: left
}

.content4 .submit{
    margin: 0;
    margin-top:10px;
}

div.content4 input{
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 0;
    width: 328px;
}

.content4{
    padding-bottom: 200px;
}
