.flare{
    padding-bottom: 100px;
}
.footer > .footer-content > .footer-center{
    margin-top: 110px;
    margin-bottom: 0px;
    height: 90px;
    overflow: hidden
}

.text-container{
    margin-top: 24px;
}

.footer > .footer-content > .footer-center > p{
    margin-bottom: 0px;
    line-height: 150px;
}


div.bank-details td{
    padding-right: 20px;
}

.shapes a {
    display: block;
}

div.select {
    width: 80px;
}

.middle_params
{
    z-index: 1;
}

.slider_wrapper .inline
{
    margin-top: 15px;
}
.slider_wrapper .inline *
{
    display: block;
    float: left;
}

.params
{
    width: 200px;
}

.params > .middle_params
{
    position: relative;
}

.slider_wrapper .all_price p,
.slider_wrapper .inline p
{
    height: 20px;
    padding-top: 5px;
}

.slider_wrapper
{
    height: 60px;
}

.params > .slider_wrapper INPUT[type='text']
{
    width: 46px;
}

.dropdown .options
{
    z-index: 100;
}

.dropdown + .dropdown .options
{
    z-index: 99;
}

.dropdown  +.dropdown + .dropdown .options
{
    z-index: 98;
}

.dropdown  + .dropdown  +.dropdown + .dropdown .options
{
    z-index: 97;
}

.paginator_wrapper{
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: normal;
}

div.details2
{
    border: none;
    padding: 0px;
}

div.total
{
    padding: 20px;
}

table.details2
{
    border-collapse: collapse;
    text-align: center;
    font-family: Tahoma;
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
    margin-left: 0px;

}

table.details2 .total
{
    text-align: right;
}

table.details2 td
{
    padding: 10px;
}



table.details2 .image_example
{
    background-image: url('../images/light_fon.png');
    background-repeat: no-repeat;
    height: 179px;
    width: 229px;
    margin-right: 30px;
    zoom: 0.4;
}

table.details2 .image_example img
{
    padding: 30px 0 0 10px;
}

.details2 thead tr th
{
    border-bottom: 1px solid #13385d;
    font-weight: normal;
    padding: 10px 0;
}

.details2 .description
{
    text-align: left;
}

.details2 .total,
.details2 .cost
{
    width: 240px;
}

.client_info caption
{
    font-size: 20px;
    text-align: left;
    padding: 20px 0;
}

.client_info th
{
    text-align: right;
    font-weight: normal;
    padding-right: 20px;
}

.details2 .bottom_border
{
    background-image: url('../images/details_bottom_border.png');
    background-repeat: no-repeat;
    height: 30px;
    margin: 0 -20px -20px 0px;
}

.details2 .top_border
{
    background-image: url('../images/details_top_border.png');
    background-repeat: no-repeat;
    height: 30px;
    margin: 0px -20px -20px 0;
}

.table_border
{
    width: 939px;
    border-left: 1px solid #0c71c0;
    border-right: 1px solid #0c71c0;
    padding: 0 20px;
}


.basket_confirm_button
{
    color: #ffffff;
    font-size: 16px;
    font-family: tahoma;
    text-decoration: none;
    text-align: center;
    background-image: url('../images/button_background.png');
    background-repeat: no-repeat;
    padding-top: 6px;
    width: 176px;
    height: 32px;
    display: inline-block;
    float: right;
    margin-top: 10px;
}

.content4 .hint{
    line-height: 20px;
    margin-top: 15px;
    display: block;
    float: left
}

.content4 .submit{
    margin: 0;
    margin-top:10px;
}

div.content4 input{
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 0;
    width: 328px;
}

.content4{
    padding-bottom: 200px;
}

.content-container{
    height: 1020px;
}

.photo-content{
    float: left;
    width: 100%;
    height: 500px;
}
h1.title{
    font-weight: normal;
    color: #ffffff;
    font-size: 2em;
    text-align: left;
    clear: both;
    width: 980px;
}
.diploma-container{
    float: left;
    margin-top: 8px;
}
.text-container-2{
    float: right;
    margin-top: 5px;
    color: #ffffff;
    text-align: left;
    font-size: 72%;
}
.text-wrapper{
    width: 680px;
}
.photo-container-2{
    margin-top: 13px;
    float: right;

}
.comment{
    margin-top: 5px;
    color: #ffffff;
    float: right;
    width: 680px;
    text-align: center;
    font-size: 72%;
}
.video-content{
    margin-top: 60px;
}
.player-wrapper-left{
    height: 316px;
    width: 476px;
    background-image: url(../images/ytplayer_background.png);
    float: left;
    margin-top: -19px;
}
.player-wrapper-right{
    height: 316px;
    width: 476px;
    background-image: url(../images/ytplayer_background.png);
    float: right;
    margin-top: -19px;
}
#ytplayer{
    margin-top: 17px;
    margin-left: 15px;
}
.video-title{
    margin-top: 5px;
    text-align: center;
    color: #ffffff;
    font-size: 72%;
}

.representation
{
    float: left;
}

.form  .left_column
{
    float: left;
    width: 350px;
}
.form .right_column
{
    float: right;
    width: 620px;
}

.form  .bottom
{
    width: 980px;
}

.form  .bottom .text_ruqired
{
    float: left;
    margin-left: 540px;
}

.container2
{
    width: 980px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: normal;
}

.container2 .title
{
    margin-bottom: -100px;
}

.center
{
    text-align: center;
}

.gallery
{
    width: 1024px;
    height: 550px;
}

.gallery .block_wraper .info
{
    background-image: url('../images/main_page_gallery_new_background.png');
    background-repeat: no-repeat;
    width: 270px;
    height: 152px;
    margin: -162px 0 0 -258px;
    padding: 22px 0 0;
    float: right;
}

.gallery .block_wraper .info .right
{
    text-align: center;
    margin-left: 90px;
}

.gallery .block_wraper .info img
{
    max-width: 90px;
    max-height: 90px;
    vertical-align: center;
    float: left;
    padding: 20px 0;
}

.examples_2
{
    height: 180px;
    width: 980px;
    margin: 0 auto;
    padding: 20px 0;
}

.example
{
    display: inline-block;
    background-image: url('../images/main_page_select_border.png');
    background-repeat: no-repeat;
    width: 480px;
    height: 167px;
    padding: 0;
    margin: 0;
}

.example h2
{
    margin: 10px;
}

.example span
{
    font-size: 12px;
    line-height: 14px;
    color: #ccc;
}

.example img
{
    float: left;
    padding: 0;
    margin-top: -40px;
    margin-left: -40px;
    margin-right: -20px;
}

.brilliant
{
    float: left;
}

.gold
{
    float: right;
}

.examples_4
{
    margin-bottom: 20px;
    width: 1004px;
    margin: 0 auto;
}

.examples_4 .paginator
{
    height: 310px;
}

.examples_4 .paginator ul,
.examples_4 .navigation ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.examples_4 .paginator ul li
{
    background-image: url('../images/main_page_4_select_background.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 231px;
    height: 310px;
    margin-right: 20px;
    vertical-align: top;
    float: left;
}

.examples_4 .navigation ul
{
    margin-left: 380px;
}
.examples_4 .navigation ul li
{
    float: left;
}

.examples_4 .paginator .last
{
    margin-right: 0;
}

.examples_4 .paginator ul li h5
{
    margin: 5px 25px;
    text-align: center;
    color: #133d60;
    font-weight: bold;
    min-height: 32px;
}

.examples_4 .paginator ul li .image
{
    width: 230px;
    height: 140px;
    text-align: center;
}

.examples_4 .paginator ul li table,
.gallery .block_wraper .info .right table
{
    margin: 0 auto;
    font-size: 12px;
}

.examples_4 .paginator ul li table th,
.gallery .block_wraper .info .right table th

{
    text-align: right;
    color: #ffffff;
    font-weight: normal;
}

.examples_4 .paginator ul li table td,
.gallery .block_wraper .info .right table td
{
    text-align: left;
    color: #0c71c0;
}

.cost
{
    margin: 0px 20px 7px;
    padding: 3px 0;
    border-top: 1px solid #153c61;
    border-bottom: 1px solid #153c61;
    font-size: 14px;
    font-family: tahoma;
}

.cost .number
{
    font-size: 18px;
}

.certificate
{
    color: #ffffff;
    font-size: 16px;
    font-family: tahoma;
    text-decoration: none;
    text-align: center;
    background-image: url('../images/main_page_button_certificate.png');
    background-repeat: no-repeat;
    padding-top: 2px;
    width: 119px;
    height: 24px;
    display: inline-block;
}

.examples_4
{
    margin-left: 20px;
}

.examples_4 .navigation
{
    padding: 20px 0;
}

.examples_4 .navigation ul li
{
    display: inline-block;
    vertical-align: top;
}

.examples_4 .navigation ul li a
{
    color: #246e87;
    text-decoration: none;
    padding: 0 3px;
}



.company_and_news
{

}

.company_and_news  h1
{
    color: #fff;
}

.company_and_news  .company
{
    color: #8fa6ae;
    display: inline-block;
    font-size: 14px;
    text-align: justify;
    margin-right: 20px;
    vertical-align: top;
    width: 670px;
    float: left;
}

.company_and_news  .company .more
{
    background-image: url('../images/main_page_gradient.png');
    height: 80px;
    margin-top: -80px;
    position: relative;
}

.company_and_news .company  .more a
{
    color: #cbebf4;
    font-size: 14px;
    font-weight: bold;
    vertical-align: bottom;
    position: absolute;
    bottom: 0;
}

.company_and_news  .news
{
    width: 286px;
    display: inline-block;
    vertical-align: top;
}

.company_and_news  .news h1
{
    margin-bottom: 0px;
}

.company_and_news .news  .more
{
    text-align: right;
}

.company_and_news .news  .more a
{
    color: #cbebf4;
    font-size: 14px;
    font-weight: bold;
}

.company_and_news .news  .elem
{
    border-bottom: 1px solid #226a83;
    padding: 0 0 15px;
}

.company_and_news .news  .elem .date
{
    color: #aaa;
    font-size: 10px;
    padding-bottom: 5px;
}

.company_and_news .news  .elem a
{
    font-size: 14px;
    color: #376d96;
}

.company_and_news .news  .elem a:hover
{
    color: #478da6;
}

.company_and_news .news  .elem a:visited
{
    color: #2c5878;
}

.company_and_news .news .last
{
    border-bottom: none;
}

.basket_elem
{
    height: 181px;
    width: 981px;
    border: none;
    background-image: url('../images/ie_basket_page_border.png');
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.basket_elem .image_example
{
    float: left;
    background-image: url('../images/light_fon.png');
    background-repeat: no-repeat;
    height: 179px;
    width: 229px;
    margin-right: 30px;
}

.basket_elem .image_example img
{
    padding: 30px 0 0 40px;
}

.basket_elem table.details
{
    border-collapse: collapse;
    text-align: center;
    font-family: Tahoma;
}


.basket_elem .details thead tr
{
    font-size: 12px;
}

.basket_elem .details thead tr th
{
    border-bottom: 1px solid #13385d;
    font-weight: normal;
    padding: 10px 0;
}

.basket_elem .details thead tr th,
.basket_elem .details tbody tr td
{
    width: 170px;
}

.basket_elem .details thead tr th.delete,
.basket_elem .details tbody tr td.delete
{
    width: 80px;
}

.basket_elem .details tbody td
{
    height: 120px;
    font-size: 20px;
    width: 200px;
}

.basket_elem .details .count
{
    background-color: transparent;
    border: none;
    height: 20px;
    width: 20px;
    padding: 0;
    margin-left: 8px;
    margin-top: 8px;
    color: #ffffff;
    float: left;
}

.basket_elem .details td.cost
{
    font-size: 14px;
}

.basket_elem .details td.cost .number
{
    font-size: 20px;
}

.basket_elem .details button.delete
{
    background-color: transparent;
    border: none;
}

.basket_elem .details button.delete:hover
{
    cursor: pointer;
}

i.updown_cursor:hover
{
    cursor: pointer;
}
i.updown_cursor
{
    display: block;
    background-image: url('../images/updown_cursors.png');
    background-repeat: no-repeat;
    width: 11px;
    height: 8px;
    background-position: 0 0;
    margin: 1px;
    float: right;
}

i.up
{
}

i.down
{
    background-position: 0 -8px;
}

.ie_count_wraper
{
    background-image: url('../images/basket_count_background.png');
    background-repeat: no-repeat;
    width: 70px;
    height: 38px;
    margin: 0 auto;
}

.arrows
{
    display: inline;
    margin-right: 8px;
    margin-left: 10px;
    vertical-align: middle;
    border-left: none;
    padding-left: 0;
    height: 28px;
    width: 12px;
    text-align: right;
    float: right;
}


.basket_next_button
{
    color: #ffffff;
    font-size: 16px;
    font-family: tahoma;
    text-decoration: none;
    text-align: center;
    background-image: url('../images/button_background.png');
    background-repeat: no-repeat;
    padding-top: 6px;
    width: 176px;
    height: 32px;
    display: inline-block;
    float: right;
    margin-top: 10px;
    margin-right: 40px;
}

.content input.large, .content input.middle, .content input.small {
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 0;
}

.content input.large{
    border-right: none;
}


.container
{
    width: 980px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: normal;
}

.private_office input.large, .private_office input.middle, .private_office input.small{
    height: 30px;
}

div.private_office input.large{
    width: 312px;
}

div.private_office input.middle{
    width: 210px;
}

.private_office input.small{
    width: 70px;
}

sup.required
{
    color: #dab104;
    font-size: 14px;
}

.private_office
{
    color: #869ca5;
    font-family: Arial;
    font-size: 14px;
    margin: 0 auto;
    width: 800px;
    height: 700px;
}

.private_office h1
{
    color: #ffffff;
}

.private_office .left_column,
.private_office .right_column
{
    width: 380px;
    height: 550px;
    display: inline-block;
    vertical-align: top;
    float: right;
}

.private_office .left_column
{
    margin-right: 34px;
    float: left;
}

.private_office .photo_button
{
    background: transparent;
    border: none;
    color: #869ca5;
    cursor: pointer;
    margin: 4px;
    margin-top: -8px;
}

.private_office  label
{
    display: block;
    margin: 3px 0;
}

.private_office .avatar
{
    width: 338px;
    height: 27px;
    display: block;

    color: #ffffff;

    padding: 10px 10px 2px;

    background-image: url('../images/input_background_long.png');
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    box-shadow: none;
}



.private_office .avatar
{
    width: 127px;
    height: 160px;
    overflow: hidden;
    padding: 5px;
    background-image: url('../images/avatar_background.png');
    background-color: transparent;
    background-repeat: no-repeat;
}

.private_office .avatar img
{
    width: 126px;
    height: 160px;
}

.private_office .street
{
    display: inline;
    width: 238px;
    margin-right: 10px;
    float: left;
}


.private_office .house,
.private_office .corpus,
.private_office .office
{
    display: inline;
    width: 110px;
    float: left;
}

.private_office .bottom
{
    text-align: right;
    margin-top: 40px;
    margin-bottom: 80px;
    height: 40px;
    width: 800px;
    display: inline;
}

.private_office .text_ruqired
{
    display: inline;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 360px;
    float: left;
}

.details .description
{
    padding-left: 40px;
}

.basket_confirm_button
{
    color: #ffffff;
    font-size: 16px;
    font-family: tahoma;
    text-decoration: none;
    text-align: center;
    background-image: url('../images/button_background.png');
    background-repeat: no-repeat;
    padding-top: 6px;
    width: 176px;
    height: 32px;
    display: inline-block;
    float: right;
    margin-top: 10px;
}

.content8 .hint{
    line-height: 20px;
    margin-top: 15px;
    display: block;
    float: left
}

.content8 .submit{
    margin: 0;
    margin-top:10px;
}

div.content8 input.large, div.content8 input.middle, div.content8 input.small{
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 0;
}


div.content8  input.large{
    padding: 5px 2px 5px 3px;
    height: 29px;
    width: 330px;
}


div.content8  input.small{
    padding: 5px 0 5px 3px;
    width: 90px;
    height: 29px;
}

div.content8  input.middle{
    padding: 5px 0 0 5px;
    width: 228px;
    height: 32px;
}

div.content8 > div.left  input.building{
    margin-left: 10px;
}

div.content8 > div.left  > .building-group > label{
    margin-left: 5px;
}

div.text-container2 > p.text{
    margin-top: 85px;
}

.content8{
    padding-bottom: 200px;
    margin-top: 50px;
}

div.content8 > div.left > div.building-group{
    float: none;
}

div.content8 > div.right  textarea.textarea{
    background-attachment: fixed;
    background-image: url(../images/additional_information_textarea.png);
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    padding: 0 0 3px 7px;
    width: 323px;
    margin-top: 0;
}

div.content8 > div.right > .textarea-wrap{
    background-image: url(../images/additional_information_textarea.png);
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    width: 335px;
    height: 104px;
    margin-top: 10px;
}

.text-container2 > .text{
    width: 1024px;
}
.container{
    margin-bottom: 200px;
}

.top-text-container{
    margin-top: -7px;
    font-size: 74%;
    text-align: left;
}
.top-text-container p{
    margin-bottom: 28px;
    line-height: 1.6;
}
.title4{
    font-weight: normal;
    font-size: 250%
}
.list{
    margin-top: 43px;
    margin-left: 0px;
    list-style-type: square;
    list-style-position: inside;
    line-height: 1.6;

}
.more-link{
    float: right;
    color: #ffffff;
    font-weight: bold;
    font-size: 120%;
}
.items-table-container{
    margin-top: 55px;
    margin-bottom: 20px;
    border: none;
    width: 980px;
    padding: 0px;
}
.items-table-container tbody tr{
    border-top: 1px solid #0c71c0;
}
table{
    text-align: center;
    width: 928px;
    font-weight: bold;
}
.table-head{
    height: 28px;
}
th{
    font-size: 60%;
}
.name{
    width: 40%;
    text-indent: 40px;
    text-align: left;
}
.hname{
    text-align: left;
    text-indent: 60px;
}
td{
    height: 40px;
}
.bottom_border
{
    background-image: url('../images/details_bottom_border.png');
    background-repeat: no-repeat;
    height: 30px;
    margin: 0 -20px -20px 0px;
}

.top_border
{
    background-image: url('../images/details_top_border.png');
    background-repeat: no-repeat;
    height: 30px;
    margin: 0px -20px -20px 0;
}
.table_border
{
    width: 939px;
    border-left: 1px solid #0c71c0;
    border-right: 1px solid #0c71c0;
    padding: 0 20px;
}
.certificate-container{
    margin-top: 40px;
    width: 268px;
    float: left;
}
.date{
    color: #757a7d;
    font-size: 60%;
}
.bottom-text-container{
    font-size: 80%;
    margin-top: 32px;
    width: 662px;
    float: right;
}
.bottom-text-container p{
    margin-bottom: 35px;
    line-height: 1.6;
}
.nfo-lnk2{
    color: #2d5d81;
    font-size: 74%;
}
