body
{
	background-color : #00101b;
	background-image: url('../images/main_page_fon.jpg');
	background-repeat: no-repeat;
	background-position: center -380px;
	font-family: Arial;
	color: #ffffff;
}

.container
{
	width: 980px;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6
{
	font-weight: normal;
}

.representations_list
{
	width: 1020px;
}


.representation
{
	display: inline-block;
	color: #9bb1b7;
	width: 308px;
	height: 250px;
	margin-right: 28px;
	font-size: 12px;
	vertical-align: top;
}

.representation .city_head
{
	border-bottom: 1px solid #1a3442;
	padding-bottom: 10px;
}

.representation .city_head .city
{
	font-size: 20px;
	color: #6ba5c2;
}

.representation .email
{
	color: #467289;
}

.representation .contact_user
{
	font-size: 16px;
	color: #467289;
}



/*
.feedback_form  input.large{
	background: url(../images/input_background_long.png) 0 0 no-repeat;
	border-width: 3px;
	border-color: transparent;
	border-style: solid;
	width: 326px;
	height: 30px;
	padding: 3px 15px 3px 7px;
	color: #869ba7;
	margin: 4px 0 4px 0;
}

.feedback_form input.large:focus{
	outline: none;
	background: url(../images/input_background_long.png) 0 -40px no-repeat;
}

/*
.feedback_form  textarea.textarea-large{
	background: url(../images/textarea_large.png) 0 0 no-repeat;
	border-width: 3px;
	border-color: transparent;
	border-style: solid;
	padding: 3px 15px 3px 7px;
	color: #869ba7;
	margin: 10px 0 10px 0;
	resize: none;
}

.feedback_form textarea.textarea-large:focus{
	outline: none;
	background: url(../images/textarea_large.png) 0 -181px no-repeat;
}
*/

form.feedback_form > fieldset{
	border: none;
}

sup.required
{
	color: #dab104;
	font-size: 14px;
}

.private_office
{
	color: #869ca5;
	font-family: Arial;
	font-size: 14px;		
	margin: 0 auto;
	width: 800px;
}

.private_office h1
{
	color: #ffffff;
}

.form .left_column,
.form .right_column
{
	width: 380px;
	display: inline-block;
	vertical-align: top;
	font-size: 9pt;
}

.form textarea#message
{
	width: 602px;
	height: 165px;
}

.private_office .left_column
{
	margin-right: 34px;
}


.feedback_form .submit{
	display: inline;
	background: url(../images/kontact-data-submit.png) -1px -1px no-repeat;
	border-width: 0;
	width: 123px;
	height: 34px;
	font-weight: bold;
	font-size: 12pt;
	color: #ffffff;
	cursor: pointer;
	margin-top: 15px;
	line-height: 30px;
}

.feedback_form .submit:hover{
	background: url(../images/kontact-data-submit-hover.png) -1px -1px no-repeat;
	cursor: pointer;
}

.feedback_form .submit:active{
	background: url(../images/kontact-data-submit-active.png) -1px -1px no-repeat;
	cursor: pointer;
	cursor: hand;
	cursor: pointer;
}

.text_ruqired{
	text-align: right;
	display: inline;
	margin-right: 30px;
}
.bottom{
	text-align: right;
}




