body
{
	background-color : #00101b;
	background-image: url('../images/main_page_fon.jpg');
	background-repeat: no-repeat;
	background-position: center 100px;
	font-family: Arial;
	color: #ffffff;
}

.container
{
	width: 1024px;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6
{
	font-weight: normal;
}

.container .title
{
	margin-bottom: -100px;
}

.center
{
	text-align: center;
}

.gallery
{	
	width: 1024px;
	height: 550px;
}

.gallery .block_wraper .info
{
	background-image: url('../images/main_page_gallery_new_background.png');
	background-repeat: no-repeat;
	width: 258px;
	height: 152px;
	margin: -162px 0 0 -258px;
	padding: 22px 0 0;
	float: right;
}

.gallery .block_wraper .info .right
{
	text-align: center;
	margin-left: 90px;
}

.gallery .block_wraper .info img
{
	max-width: 90px;
	max-height: 90px;
	vertical-align: center;
	float: left;
	padding: 20px 0;
}

.examples_2
{
	height: 180px;
	width: 980px;
	margin: 0 auto;
	padding: 20px 0;
}

.example
{
	display: inline-block;
	background-image: url('../images/main_page_select_border.png');
	background-repeat: no-repeat;
	width: 480px;
	height: 167px;
	padding: 0;
	margin: 0;
}

.example h2
{
	margin: 10px;	
}

.example span
{
	font-size: 12px;
	line-height: 10px;
	color: #ccc;
}

.example img
{
	float: left;
	padding: 0;
	margin-top: -40px;
	margin-left: -40px;
	margin-right: -20px;
}

.brilliant
{
	float: left;
}

.gold
{
	float: right;
}

.examples_4
{
	margin-bottom: 20px;
	width: 1004px;
	margin: 0 auto;
}

.examples_4 .paginator
{
	height: 310px; 
}

.examples_4 .paginator ul,
.examples_4 .navigation ul
{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.examples_4 .paginator ul li
{
	background-image: url('../images/main_page_4_select_background.png');
	background-repeat: no-repeat;
	display: inline-block;
	width: 231px;
	height: 310px;
	margin-right: 15px;
	vertical-align: top;
}

.examples_4 .paginator .last
{
	margin-right: 0;
}

.examples_4 .paginator ul li h5
{
	margin: 5px 25px;
	text-align: center;
	color: #133d60;
	font-weight: bold;
	min-height: 32px;
}

.examples_4 .paginator ul li .image
{
	width: 230px;
	height: 140px;
	text-align: center;
}

.examples_4 .paginator ul li table,
.gallery .block_wraper .info .right table
{
	margin: 0 auto;
	font-size: 12px;
}

.examples_4 .paginator ul li table th,
.gallery .block_wraper .info .right table th

{
	text-align: right;
	color: #ffffff;
	font-weight: normal;
}

.examples_4 .paginator ul li table td,
.gallery .block_wraper .info .right table td
{
	text-align: left;
	color: #0c71c0;
}

.cost
{
	margin: 0px 20px 7px;
	padding: 3px 0;
	border-top: 1px solid #153c61;
	border-bottom: 1px solid #153c61;
	font-size: 14px;
	font-family: tahoma;
}

.cost .number
{
	font-size: 18px;
}

.certificate
{
	color: #ffffff;
	font-size: 16px;
	font-family: tahoma;
	text-decoration: none;
	text-align: center;
	background-image: url('../images/main_page_button_certificate.png');
	background-repeat: no-repeat;
	padding-top: 2px;
	width: 119px;
	height: 24px;
	display: inline-block;
}

.examples_4 .navigation 
{
	padding: 20px 0;
}

.examples_4 .navigation ul li
{
	display: inline-block;
	vertical-align: top;
}

.examples_4 .navigation ul li a
{
	color: #246e87;
	text-decoration: none;
	padding: 0 3px;
}



.company_and_news
{
	padding: 40px 0 20px;
	margin-bottom: 80px;
}

.company_and_news  h1
{
	color: #fff;
}

.company_and_news  .company
{
	color: #8fa6ae;
	display: inline-block;
	font-size: 14px;
	text-align: justify;
	margin-right: 20px;
	vertical-align: top;
	width: 680px;		
}

.company_and_news  .company .more
{
	background-image: url('../images/main_page_gradient.png');
	height: 80px;
	margin-top: -80px;
	position: relative;	
}

.company_and_news .company  .more a
{
	color: #cbebf4;	
	font-size: 14px;
	font-weight: bold;
	vertical-align: bottom;
	position: absolute;
	bottom: 0;
}

.company_and_news  .news
{
	width: 300px;
	display: inline-block;
	vertical-align: top;
}

.company_and_news  .news h1
{
	margin-bottom: 0;
}

.company_and_news .news  .more
{
	text-align: right;
}

.company_and_news .news  .more a
{
	color: #cbebf4;	
	font-size: 14px;
	font-weight: bold;
}

.company_and_news .news  .elem
{
	border-bottom: 1px solid #226a83;
	padding: 15px 0 15px;
}

.company_and_news .news  .elem .date
{
	color: #aaa;
	font-size: 10px;
	padding-bottom: 5px;
}

.company_and_news .news  .elem a
{
	font-size: 14px;
	color: #376d96;
}

.company_and_news .news  .elem a:hover
{
	color: #478da6;
}

.company_and_news .news  .elem a:visited
{
	color: #2c5878;
}

.company_and_news .news .last
{
	border-bottom: none;
}









