.footer > .footer-content > .footer-center{
	margin-top: 110px;
	margin-bottom: 0px;
	height: 90px;
	overflow: hidden;
}

.footer > .footer-content > .footer-center > p{
	margin-bottom: 0px;
	line-height: 150px;
}

.content8 .hint{
	line-height: 20px;
	margin-top: 15px;
	display: block;
	float: left
}

.content8 .submit{
	margin: 0;
	margin-top:10px;
}

div.content8 input.large, div.content8 input.middle, div.content8 input.small{
	padding-top: 5px;
	padding-left: 7px;	
	padding-right: 0;
}


div.content8  input.large{
	padding: 5px 2px 5px 3px;	
	height: 29px;
	width: 330px;
}


div.content8  input.small{
	padding: 5px 0 5px 3px;
	width: 90px;	
	height: 29px;
}

div.content8  input.middle{
	padding: 5px 0 0 5px;
	width: 228px;	
	height: 32px;
}

div.content8 > div.left  input.building{
	margin-left: 10px;
}

div.content8 > div.left  > .building-group > label{
	margin-left: 5px;
}

div.text-container2 > p.text{
	margin-top: 85px;
}

.content8{
	padding-bottom: 200px;
	margin-top: 50px;
}

div.content8 > div.left > div.building-group{
	float: none;
}

div.content8 > div.right  textarea.textarea{
	background-attachment: fixed;
	background-image: url(../images/additional_information_textarea.png); 
	background-position-x: 0;
	background-position-y: 0;
	background-repeat: no-repeat;
	padding: 0 0 3px 7px;
	width: 323px;
	margin-top: 0;
}

div.content8 > div.right > .textarea-wrap{
	background-image: url(../images/additional_information_textarea.png); 
	background-position-x: 0;
	background-position-y: 0;
	background-repeat: no-repeat;
	width: 335px;
	height: 104px;
	margin-top: 10px;
}

.text-container2 > .text{
	width: 1024px;
}
.container{
	margin-bottom: 200px;
}