.flare{
	background-color : #00101b;
	background-image: url('../images/main_page_fon.jpg');
	background-repeat: no-repeat;
	background-position: center -380px;
	font-family: Arial;
	color: #ffffff;
	min-width: 1024px;	
}

.content > .left{
	float: left;
}

.content > .right{
	float: right;
	text-align: left;
	width: 550px;
}
/*
div.content input{
	font-size: 11pt;
	font-weight: normal;

}

.content  input.large{
	background: url(../images/input_background_long.png) 0 0 no-repeat;
	border-width: 3px;
	border-color: transparent;
	border-style: solid;
	width: 326px;
	height: 27px;
	padding: 3px 15px 3px 7px;
	color: #869ba7;
	font-size: 11pt;
	margin: 10px 0 10px 0;
}

.content  input.large:focus{
	outline: none;
	background: url(../images/input_background_long.png) 0 -40px no-repeat;
}

.content  input.middle{
	background: url(../images/input_middle.png) 0 0 no-repeat;
	border-width: 3px;
	border-color: transparent;
	border-style: solid;
	width: 223px;
	height: 29px;
	padding: 3px 15px 3px 7px;
	color: #869ba7;
	margin: 10px 0 10px 0;
}

.content  input.middle:focus{
	outline: none;
	background:url(../images/input_middle.png) 0 -41px no-repeat;
}

.content  input.small{
	background: url(../images/input_small.png) 0 0 no-repeat;
	border-width: 3px;
	border-color: transparent;
	border-style: solid;
	width: 82px;
	height: 27px;
	padding: 7px 15px 3px 7px;
	color: #869ba7;
	margin: 10px 0 10px 0;
}

.content  input.small:focus{
	outline: none;
	background: url(../images/input_small.png) 0 -41px no-repeat;
}
*/
div.left > div.street-group > input.street{
	margin-right: 10px;
}

.building-group{
	width: 115px;
}
/*
.content  textarea.textarea{
	background: url(../images/additional_information_textarea.png) 0 -1px no-repeat;
	border-width: 0;
	width: 329px;
	height: 92px;
	font-size: 13pt;
	color: #869ba7;
	padding: 5px 0 3px 4px;
	margin: 10px 0 10px 0;	
	resize: none;
	font-weight: normal;
	font-family: "Arial";
	border-width: 3px;
	box-shadow: none;
	border-color: transparent;
	border-style: solid;
	overflow: hidden; 
	word-wrap: break-word; 
	white-space: pre-wrap;
	white-space: -moz-pre-wrap !important;
	white-space: -o-pre-wrap;
	white-space: -pre-wrap;
}

.content  textarea.textarea:focus{
	outline: none;
	background: url(../images/additional_information_textarea.png) 0 -107px no-repeat;
}

*/
.street-group{
	float: left;
}

.building-group{
	float: right;	
}

.housing-group{
	float: left;	
}

.office-group{
	float: right;
	width: 430px;
}

.content > .title{
	font-size: 30pt;
	color: #ffffff;
}

.content label{
	font-size: 9pt;
	color: #869ba7;
}

.content sup{
	color: #a88a0c
}

.content .submit{
	display: inline;
	background: url(../images/kontact-data-submit.png) -1px -1px no-repeat;
	border-width: 0;
	width: 123px;
	height: 34px;
	font-weight: bold;
	font-size: 12pt;
	color: #ffffff;
	cursor: pointer;
	line-height: 30px;
	padding-bottom: 5px;
}

.content .submit:hover{
	background: url(../images/kontact-data-submit-hover.png) -1px -1px no-repeat;
	cursor: pointer;
}

.content .submit:active{
	background: url(../images/kontact-data-submit-active.png) -1px -1px no-repeat;
	cursor: pointer;
	cursor: hand;
	cursor: pointer;
}


.content .hint{
	display: inline;
	margin-right: 10px;
	font-size: 9pt;
	color: #99afb5;
}


.content{
	min-height: 300px;
}

.text-container p.text{
	display: inline-block;
	color: #586c76;
	font-size: 9pt;
	margin-top: 40px;
}

.text-container a.shipping-information{
	display: inline-block;
	color: #cce5ec;
	font-size: 9pt;
}

.text-container a.shipping-information:hover{
	display: inline-block;
	color: #9dd8e9;
	font-size: 9pt;
}

#pre-wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

#pre-wrap pre{
	position: absolute;
	left: 0px;
	top: 0px;
	visibility: hidden;	
	font-size: 13pt;
}
