body {
	background-color : #00101b;
	background-image: url('../images/main_page_fon.jpg');
	background-repeat: no-repeat;
	background-position: center -380px;
	font-family: Arial;
	color: #ffffff;
}

.content{
    width: 980px;
    height: 1000px;	
}
.top-text-container{
	margin-top: -7px;
	font-size: 74%;
	text-align: left;	
}
.top-text-container p{
	margin-bottom: 28px;
	line-height: 1.6;
}
.title{
	font-weight: normal;
	font-size: 250%	
}
.list{
	margin-top: 43px;
	padding-left: 0px;
	list-style-type: square;
	list-style-position: inside;
	line-height: 1.6;
	margin-bottom: 2px;	
}
.more-link{
	float: right;
	color: #ffffff;
	font-weight: bold;
	font-size: 120%;
}
.items-table-container{
	margin-top: 45px;
	margin-bottom: 20px;
	border-radius: 15px;
    border: 1px solid #0c71c0;
	width: 928px;
    padding: 10px 25px 5px;
}
.items-table-container td{
	border-top: 1px solid #0c71c0;
}
table{
	text-align: center;
	width: 928px;
    border-collapse: collapse;
	font-weight: bold;
}
.table-head{
    height: 28px; 
}
th{
	font-size: 60%;
}
.name{
	width: 40%;
	text-indent: 40px;
	text-align: left;
}
.hname{
	text-align: left;
	text-indent: 60px;
}
td{
	height: 40px; 
}
.certificate-container{
	margin-top: 40px;
	width: 268px;
	float: left;
}
.date{
	color: #757a7d;
	font-size: 60%;
}
.bottom-text-container{
	font-size: 80%;
	margin-top: 22px;
	width: 662px;
	float: right;
}
.bottom-text-container p{
	margin-bottom: 35px;
	line-height: 1.6;
}
.info-link{
	color: #2d5d81;
	font-size: 74%;
}
